/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --primary-color: #fff;
    --grey-color: rgba(162,161,168,10%);
    --purple-color: #7152F3;
    --dark-color: #16151C;
    
}
:root.dark-theme{
    --primary-color: #16151C;
    --grey-color: rgba(162,161,168,5%);
    --purple-color: #7152F3;
    --dark-color: #fff;
}
:root.dark-theme .header-notif,
:root.dark-theme .logout-menu{
    background-color: #A2A1A8;
}
:root.dark-theme .chat__message-caption,
:root.dark-theme .user__caption,
:root.dark-theme .message-receive__name,
:root.dark-theme .message-receive__time,
:root.dark-theme .message-sender__time{
    color: #A2A1A8;
}
:root.dark-theme .logout__btn svg{
    fill: #A2A1A8;
}
:root.dark-theme thead{
    background-color: #302e4281;
}
:root.dark-theme tbody td{
    background-color: var(--primary-color);
}
:root.dark-theme .red-status{
    background-color: #d62b3a81;
    color: #e04b57;
}
:root.dark-theme .view-all-btn,
:root.dark-theme .add-new-btn {
    color: var(--dark-color);
}
:root.dark-theme input{
    border-color: var(--dark-color);
    color: var(--dark-color);
}
:root.dark-theme .cancel-form{
    color: var(--dark-color);
}
:root.dark-theme #div_editor1{
    background-color: var(--grey-color);
}
:root.dark-theme .apexcharts-menu{
    background-color: var(--primary-color);
}
:root.dark-theme .modes__btn{
    color: var(--dark-color);
}
:root.dark-theme .notification__caption{
    color: var(--dark-color);
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

/* 

    -- Reset Styles

*/

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

input, button{
    border: none;
    outline: none;
    background-color: transparent;
    font: inherit;
}
input{
    width: 100%;
    height: 100%;
}
button{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--purple-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7252f3b0;
  }

/*

    -- Components

*/

/*

    -- Helper Classes

*/
.d-block{
    display: block;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.align-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.active-menu{
    position: relative;
    color: var(--purple-color);
    background-color: #E6E2F8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.active-menu::before{
    content: "";
    position: absolute;
    left:0;
    background-color: var(--purple-color);
    width: 4px;
    height: 100%;
}
.active-menu svg{
    fill: var(--purple-color);
}
.avtive-mode{
    color: var(--primary-color);
    background-color: var(--purple-color);
}
.green-status{
    background-color: #90e0be;
    color: #07bd71;
}
.red-status{
    background-color: #ef7680bc;
    color: #e04b57;
}
.yellow-status{
    color: #EFBE12;
    background-color: #f3c72681;
}
.green-status,
.red-status,
.yellow-status{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
table{
    width: 100%;
    margin-top: 20px;
}
thead{
    background-color: #e6e6e6;
    padding: 10px;
}
thead th{
    font-family: "Ruda";
    font-size: 1.8rem;
}
thead th:first-child{
    border-top-left-radius: 8px;
}
thead th:last-child{
    border-top-right-radius: 8px;
}
tbody td{
    background-color: #f7f7f7;
    padding: 5px 10px;
    text-align: center;
    width: 20%;
}
td img{
    width: 3.6rem;
    height: 3.6rem;
}
.view-all-btn{
    border: 2px solid var(--grey-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--purple-color);
    color: var(--primary-color);
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    padding: 5px;
}
.add-new-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    background: var(--purple-color);
    padding: 10px;
    color: var(--primary-color);
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.add-new-btn:hover{
    background-color: #7252f3c6;
}
.border-radius-4{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.border-radius-8{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.border-radius-16{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/* 

==================
    Swal Plugin
==================

*/

.swal2-title{
    font-size: 2rem !important;
}
.swal2-html-container{
    font-size: 1.8rem !important;
}

/* 

==================
    Loader
==================

*/


.loader__container{
    position: fixed;
    top: 0%;
    right: 50%;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 200;
    background-color: rgb(18, 5, 30);
}
.loader {
    width: 120px;
    height: 20px;
    background:     -o-repeating-linear-gradient(315deg,#f03355 0 10px,#ffa516 0 20px) 0/0%   no-repeat,     -o-repeating-linear-gradient(315deg,#ddd    0 10px,#eee    0 20px) 0/100%;
    background:     repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) 0/0%   no-repeat,     repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) 0/100%;
    -webkit-animation: l3 2s infinite;
            animation: l3 2s infinite;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  @-webkit-keyframes l3 {
      100% {background-size:100%}
  }
  @keyframes l3 {
      100% {background-size:100%}
  }

/*

    -- App

*/

body{
    font-family: "Dosis Medium";
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--dark-color);
}
.container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
        grid-template-areas: "aside header" "aside main";
    -ms-grid-rows: 100px 100vh;
    grid-template-rows: 100px 100vh;
}

/* 

    Header

*/

.header{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    padding: 30px;
}
.header-hello{
    gap: 10px;
}
.header-hello h2{
    font-family: "Ruda SemiBold";
    font-size: 2.5rem;
}
.content-left{
    gap: 15px;
}
.header-notif{
    background-color: var(--grey-color);
    width: 40px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.header-person{
    gap: 15px;
    border: 2px solid var(--grey-color);
    border-radius: 8px;
    position: relative;
}
.header-person__name{
    font-family: "Ruda SemiBold";
    font-size: 1.8rem;
}
.header-person svg{
    cursor: pointer;
}
.logout-menu{
    display: none;
    position: absolute;
    top: 44px;
    right: 3px;
    background: var(--grey-color);
    padding: 5px;
}
.logout-menu__link{
    width: 8rem;
    gap: .5rem;
}

/* 

    Aside

*/

.aside{
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: var(--grey-color);
    padding: 30px;
    position: fixed;
    width: 20%;
    height: 100%;
    overflow: scroll;
}
.aside__head{
   gap: 10px; 
}
.aside__title{
    font-size: 3rem;
}
.menu{
    margin: 30px 0;
}
.menu__item{
    margin-bottom: 1rem;
}
.menu__link{
    gap: 10px;
    padding: 10px;
}
.menu__text{
    font-size: 2rem;
}
.modes__btn{
    margin-bottom: 2rem;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding: 0 15px;
}
.modes__btn span{
    font-size: 2rem;
}

/* 

==================
    Index Page
==================

*/

/* 

    Main

*/
.main{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
    padding: 30px;
}
.boxes{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box{
    border: 2px solid var(--grey-color);
    width: 220px;
    height: 150px;
    padding: 10px;
}

.box-head__svg{
    background-color: #E6E2F8;
    width: 30px;
    height: 30px;
}
.box__content{
    margin: 20px 0; 
}
.box__count{
    font-family: "Dosis SemiBold";
    font-size: 2rem;
}
.box__growth{
    padding: 0 10px;
    border-radius: 4px;
    gap: 5px;
}
.box__details{
    border-top: 2px solid var(--grey-color);
    padding-top: 4px;
}
.box__caption{
    color: gray;
}
.charts, 
.attendance{
    border: 2px solid var(--grey-color);
    padding: 10px;
    margin-top: 50px;
}
.charts__title,
.attendance__title{
    font-size: 2rem;
    font-family: "Dosis SemiBold";
}
.attendance__btn:hover{
    background-color: #7252f3c9;
}
#status{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* 

==================
    Login Page
==================

*/

.login{
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    background-image: url("../images/711.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
}
.login-container{
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 70px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.login-header{
    gap: 10px;
}
.login__title{
    font-family: "Dosis SemiBold";
    font-size: 3.5rem;
}
.login__text{
    font-family: "Dosis SemiBold";
    font-size: 3rem;
}
.login__caption{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.login-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
}
.login-form__btn{
    background-color: var(--purple-color);
    color: var(--primary-color);
    height: 50px;
    border-radius: 5px;
    font-size: 2rem;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.login-form__btn:hover{
    background-color: #9278faa8;
}
.login__username,
.login__password{
    border: 2px solid var(--puple-color);
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 2rem;
    padding: 0 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.login__username::-webkit-input-placeholder, .login__password::-webkit-input-placeholder{
    color: var(--primary-color);
}
.login__username::-moz-placeholder, .login__password::-moz-placeholder{
    color: var(--primary-color);
}
.login__username:-ms-input-placeholder, .login__password:-ms-input-placeholder{
    color: var(--primary-color);
}
.login__username::-ms-input-placeholder, .login__password::-ms-input-placeholder{
    color: var(--primary-color);
}
.login__username::placeholder,
.login__password::placeholder{
    color: var(--primary-color);
}


/* 

===========================================
    Employee Page, Design Department Page
    Sales Department Page, Job Page
===========================================

*/

.employee-container,
.design-container,
.sales-container{
    border: 2px solid var(--grey-color);
    padding: 10px;
}
.employee__form,
.job__form{
    display: none;
    position: fixed;
    top: 50%;
    background: var(--purple-color);
    height: 200px;
    width: 956px;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 100;
}
.job__form{
    width: 1100px;
}
.cancel-form{
    position: absolute;
    top: 7px;
    right: 35px;
    color: var(--primary-color);
}
.employee__content-top{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.employee__input-txt{
    border: 2px solid var(--primary-color);
    width: 250px;
    height: 40px;
    color: var(--primary-color);
    padding: 10px;
}
.employee__input-txt::-webkit-input-placeholder{
    color: var(--primary-color);
}
.employee__input-txt::-moz-placeholder{
    color: var(--primary-color);
}
.employee__input-txt:-ms-input-placeholder{
    color: var(--primary-color);
}
.employee__input-txt::-ms-input-placeholder{
    color: var(--primary-color);
}
.employee__input-txt::placeholder{
    color: var(--primary-color);
}
.employee__content-bottom,
.job__content-bottom{
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 3rem;
}
.employee__designation,
.employee__type,
.job__position,
.job__type,
.job__zone,
.job__money{
    width: 200px;
    height: 40px;
    font-family: "Ruda";
    outline: var(--grey-color);
}
.employee__type option,
.employee__designation option,
.job__money option,
.job__zone option,
.job__type option,
.job__position option{
    width: 150px;
    text-align: center;
}
.shadow{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #16151c5e;
    z-index: 1;
}
.employee-save__btn,
.job-save__btn{
    gap: 10px;
    color: var(--primary-color);
    border: 2px solid;
    width: 150px;
    height: 40px;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
/* .employee-save__btn:hover,
.job-save__btn:hover{
    background-color: var(--primary-color);
    color: var(--purple-color);
} */

.jobs__wrapper{
    margin-top: 4rem;
}
.job__header{
    font-family: "Dosis SemiBold";
    position: relative;
}
.job__header::before{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    left: 10px;
    top: .5rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.first-child::before{
    background-color: #EFBE12;
}
.second-child::before{
    background-color: #F45B69;
}
.last-child::before{
    background-color: #3FC28A;
}
.job{
    width: 250px;
    margin-top: 3rem;
    background-color: var(--grey-color);
    padding: 15px 13px;
}
.job__title{
    gap: 1rem;
}
.job__name{
    font-weight: 600;
}
.job__department{
    color: var(--purple-color);
    font-family: "Ruda";
}
.job__info{
    margin-top: 2rem;
}
.job__caption{
    margin-top: 2rem;
}
.job__address{
    gap: .5rem;
}
.job__price{
    font-weight: 600;
}

/* 

=======================
    Departments Page
=======================

*/

.departments{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
}
.department{
    border: 2px solid var(--grey-color);
    width: 320px;
    height: 374px;
    padding: 15px 10px;
}
.department__head{
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 1rem;
}
.depaertment__title{
    font-family: "Ruda SemiBold";
}
.department__btn:hover{
    background-color: #7252f3c9;
}
.department__content{
    margin-top: 1rem;
}
.department__detail{
    margin-bottom: 2rem;
}
.department__detail-name{
    font-size: 1.8rem;
    font-family: "Dosis SemiBold";
}
.department__detail-caption{
    color: var(--purple-color);
    font-size: 1.7rem;
}

/* 

==================
    Chat Page
==================

*/

.chat-container{
    height: 100vh;
    border: 2px solid var(--grey-color);
    background-color: var(--grey-color);
}
.chat__sidebar{
    width: 30%;
    border-right: 2px solid var(--primary-color);
}
.chat__sidebar-header{
    padding: 15px 10px;
    border-bottom: 2px solid var(--primary-color);
    height: 88.6px;
}
.chat__sidebar-txt{
    font-weight: 600;
    font-size: 2rem;
}
.chat__sidebar-notif{
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}
.chat__sidebar-content{
    padding: 15px 10px;
}
.chat__sidebar-search{
    background-color: var(--primary-color);
    padding: 10px;
}
.user{
    gap: 1.5rem;
    background-color: var(--primary-color);
    margin-top: 1.5rem;
    padding: 10px;
    position: relative;
}
.user::before{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    left: 45px;
    top: 40px;
    border-radius: 100%;
}
.user::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #10B981;
    left: 47px;
    top: 43px;
    border-radius: 100%;
}
.user__name,
.chat__message-name{
    font-weight: 600;
    font-size: 2rem;
}
.user__caption,
.chat__message-caption,
.message-receive__time,
.message-receive__name,
.message-sender__time{
    color: #3333339f;
    font-size: 1.8rem;
}
.chat__message{
    width: 70%;
}
.chat__message-header{
    border-bottom: 2px solid var(--primary-color);
}
.chat__message-info{
    gap: 1.5rem;
    padding: 15px 10px;

}
.chat__message-content{
    padding: 20px 10px;
    overflow-y: scroll;
}
.message-receive__title{
    margin: 1rem 0;
    background-color: var(--primary-color);
    border-radius: 0 16px 16px 16px;
    -webkit-border-radius: 0 16px 16px 16px;
    -moz-border-radius: 0 16px 16px 16px;
    -ms-border-radius: 0 16px 16px 16px;
    -o-border-radius: 0 16px 16px 16px;
}
.message-sender__title,
.message-receive__title{
    max-width: 27rem;
    padding: 10px;
    font-size: 1.8rem;
    text-align: center;
}
.message-sender__title{
    background-color: var(--purple-color);
    color: var(--primary-color);
    border-radius: 16px 16px 0px 16px;
    -webkit-border-radius: 16px 16px 0px 16px;
    -moz-border-radius: 16px 16px 0px 16px;
    -ms-border-radius: 16px 16px 0px 16px;
    -o-border-radius: 16px 16px 0px 16px;
    margin-bottom: 1rem;
}
.message-sender{
    direction: rtl;
}
.chat__message-footer{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    padding: 15px 30px;
    border-top: 2px solid var(--primary-color);
    width: 53%;
}
.chat__message-form{
    gap: 1.5rem;
}
.chat__message-wrapper{
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
}
.chat__message-send-btn{
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--purple-color);
}

/* 

==================
    Uplaod Page
==================

*/

.uplaod-drag,
.uplaod__content{
    background-color: var(--grey-color);
    height: 216px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px dashed var(--grey-color);
}
.uplaod-drag span{
    margin: 1rem 0;
    color: #86888A;
}
.uplaod-drag label{
    background-color: var(--dark-color);
    color: var(--primary-color);
    padding: 5px 10px;
    cursor: pointer;
    gap: 1rem;
}
.uplaod__content{
    margin-top: 3rem;
}
.uplaod__content{
    padding: 2rem;
}
.upload__item-wrapper{
    background-color: var(--primary-color);
    max-width: 368px;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    position: relative;
    
}
.upload__item-wrapper button{
    position: absolute;
    right: 10px;
}
.upload__titles span{
    color: #86888A;
}
.uplaod__charts{
    margin-top: 2rem;
}
.upload__chart{
    padding: 10px;
    background-color: var(--grey-color);
    height: 100%;
}

/* 

==================
    Article Page
==================

*/

.article__btn{
    margin-top: 2rem;
}

/* 

========================
    Notification Page
========================

*/

.notifiaction__container{
    width: 450px;
    margin: auto;
    margin-bottom: 2rem;
}
.notification__img{
    width: 100%;
    height: 100%;
}
.notification__caption{
    text-align: center;
    background: #3a6186;
    /*fallbackforoldbrowsers*/
    /*Chrome10-25,Safari5.1-6*/background: -webkit-gradient(linear, left top, right top, from(#bc3d5c), to(#3a6186));background: -o-linear-gradient(left, #bc3d5c, #3a6186);background: linear-gradient(to right, #bc3d5c, #3a6186);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/width: 500px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    color: var(--primary-color);
    font-size: 2rem;
    animation: slide 3s ease-in-out infinite alternate;
    -webkit-animation: slide 3s ease-in-out infinite alternate;
}

@-webkit-keyframes slide {
    0% {
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
}
    100% {
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
}
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -moz-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        -o-transform: translateX(-25%);
}
    100% {
        transform: translateX(25%);
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
}
}